
.sidebar-navigation {height:100vh;}
.admin-bg {background: #39393a;}
.user-welcome {color: #e9d2f4; overflow: hidden; text-overflow: ellipsis;} /*wlasciwosc odpowiedzialna za schowanie zbyt dlugiego imienia*/
.nav-link {color:#e9d2f4;}
.nav-link:hover {background: #9b9b93; color: #000;}
.nav-item {padding: 0;}
.rounded-circle {width:100%; height:auto; padding:.2rem;}
.display-admin-page {height:calc(100vh - 40px);}
