/*used in whole project*/

body { font-family: Tahoma; }
a {color:#fff;}
a:hover {color:#fff; text-decoration:none;}
.without-padding {padding-left:0; padding-right:0;}
.page-link {color:#495057;}
.page-link:hover {background-color:#ffc107; color:#fff;}




.sidebar-navigation {height:100vh; }
.admin-bg {background: #212529;} /*#39393a*/
.user-welcome {color: #e9d2f4; overflow: hidden; text-overflow: ellipsis;} /*wlasciwosc odpowiedzialna za schowanie zbyt dlugiego imienia*/

.nav_main .nav-link { color: #e9d2f4;}
.nav_main .nav-link:hover,  .dropdown-item:hover {
color: rgb(230, 230, 230);
text-shadow: 0px 1px 0px rgba(30, 30, 30, 0.8);
background: rgb(116, 214, 0);
background: -moz-linear-gradient(90deg, rgb(116, 214, 0) 37%, rgb(99, 170, 0) 80%);
background: -webkit-linear-gradient(90deg, rgb(116, 214, 0) 37%, rgb(99, 170, 0) 80%);
background: -o-linear-gradient(90deg, rgb(116, 214, 0) 37%, rgb(99, 170, 0) 80%);
background: -ms-linear-gradient(90deg, rgb(116, 214, 0) 37%, rgb(99, 170, 0) 80%);
background: linear-gradient(0deg, rgb(116, 214, 0) 37%, rgb(99, 170, 0) 80%);
-webkit-box-shadow: 0px 2px 9px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 2px 9px rgba(50, 50, 50, 0.75);
box-shadow:         0px 2px 9px rgba(50, 50, 50, 0.75);
}
.nav-item {padding: 0;}
.rounded-circle {width:100%; height:auto; padding:.2rem;}

/*admin dahsboard view*/
.display-admin-page {height:calc(100vh - 40px);}                         
.title {color:#39393a; padding:.5rem 0 1rem 0; font-weight: bold; }
.info {width:30px;}
.tab-content .row {padding:.5rem 0 0 1rem; }
.custom-colors {color: rgb(230, 230, 230);
font-size: 1.1em;
text-shadow: 0px 1px 0px rgba(30, 30, 30, 0.8);
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: rgb(116, 214, 0);
background: -moz-linear-gradient(90deg, rgb(116, 214, 0) 37%, rgb(99, 170, 0) 80%);
background: -webkit-linear-gradient(90deg, rgb(116, 214, 0) 37%, rgb(99, 170, 0) 80%);
background: -o-linear-gradient(90deg, rgb(116, 214, 0) 37%, rgb(99, 170, 0) 80%);
background: -ms-linear-gradient(90deg, rgb(116, 214, 0) 37%, rgb(99, 170, 0) 80%);
background: linear-gradient(0deg, rgb(116, 214, 0) 37%, rgb(99, 170, 0) 80%);
-webkit-box-shadow: 0px 2px 9px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 2px 9px rgba(50, 50, 50, 0.75);
box-shadow:         0px 2px 9px rgba(50, 50, 50, 0.75);}
	
/*naviagtion tabs-edit profile*/
.nav-tabs {flex-wrap: nowrap; border-bottom: 3px solid #ffc107;}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active { border: 3px solid #ffc107; border-bottom: transparent; color:#000; font-weight: bold;}
.details .tab-content  { border: 3px solid #ffc107; border-top: transparent; padding: 0 8px 0 8px;}

.nav-tabs .nav-link {border:none; color:rgba(0,0,0, 0.5); text-shadow: none;margin-bottom: -2px;}
.form-control:focus {border-color: #ffe082; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.2); }
.row {margin:0;}

/* edit profile-button*/
.btn-custom {
height:2rem;
width:6rem;
color: rgb(230, 230, 230);
text-shadow: 0px 1px 0px rgba(30, 30, 30, 0.8);
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
background: rgb(116, 214, 0);
background: -moz-linear-gradient(90deg, rgb(116, 214, 0) 37%, rgb(99, 170, 0) 80%);
background: -webkit-linear-gradient(90deg, rgb(116, 214, 0) 37%, rgb(99, 170, 0) 80%);
background: -o-linear-gradient(90deg, rgb(116, 214, 0) 37%, rgb(99, 170, 0) 80%);
background: -ms-linear-gradient(90deg, rgb(116, 214, 0) 37%, rgb(99, 170, 0) 80%);
background: linear-gradient(0deg, rgb(116, 214, 0) 37%, rgb(99, 170, 0) 80%);
-webkit-box-shadow: 0px 2px 9px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 2px 9px rgba(50, 50, 50, 0.75);
box-shadow:         0px 2px 9px rgba(50, 50, 50, 0.75);}
.btn-custom-small {width:3rem; text-align:center;}
.btn-custom-small:hover, .btn-custom:hover {
 cursor: pointer;
background: -moz-linear-gradient(90deg, rgb(99, 170, 0) 37%, rgb(116, 214, 0) 80%);
background: -webkit-linear-gradient(90deg, rgb(99, 170, 0) 37%, rgb(116, 214, 0) 80%);
background: -o-linear-gradient(90deg, rgb(99, 170, 0) 37%, rgb(116, 214, 0) 80%);
background: -ms-linear-gradient(90deg, rgb(99, 170, 0) 37%, rgb(116, 214, 0) 80%);
background: linear-gradient(0deg, rgb(99, 170, 0) 37%, rgb(116, 214, 0) 80%);
transition-duration: 0.5s;
}

/*edit profile alerts*/
.alert {line-height:2; margin-bottom:0;  padding:0 .5rem 0 .5rem; }
.alert > .close {padding:.25rem .25rem; }

/*table with all post display*/
.show-posts {margin:2rem 1rem;}
.post-thead {text-align:center;}
.post-tbody {text-align:center; font-size:12px; } 
.postAction{color:blue;}

/* post-template */
.require {
    color: #666;
}
label small {
    color: #999;
    font-weight: normal;
}

.pagination {margin-top:none;}

